In [1]:
x = {1,2,3,4,5,6,1}
print(x)
type(x)

{1, 2, 3, 4, 5, 6}

set

In [2]:
names = {"ram","shyam","arjun","ram"}
print(names)

{'ram', 'shyam', 'arjun'}

In [3]:
myset = set(['a','b','c','d','e','a'])
print(myset)

{'c', 'b', 'a', 'e', 'd'}

In [4]:
normal_set = set(["a","b","c"])
print(normal_set);
normal_set.add("d")
print(normal_set);


#frozen set is a type of set which can't be changed
print("frozen set\n")
frozen_set =frozenset(["a","b","c"])
print(frozen_set)
frozen_set.add("d")
print(frozen_set)

{'b', 'c', 'a'}
{'b', 'c', 'd', 'a'}
frozen set

frozenset({'b', 'c', 'a'})

AttributeError: 'frozenset' object has no attribute 'add'

In [ ]:
#we can't access set element using index value, it will give error
x = {1,2,3,4,5,6,7}
print(x)
print(x[2])

In [ ]:
# printing the second element 
x = {1,2,3,4,5,6,7}
print(x)
# k =0
for i in x:
#     k = k+1
    if(i ==2):
        print("second element ",i) # access the second element of the set

In [ ]:
#accessing the element using loop
name = {"ankit","akash","mohit","sneha",2,3,4,5,60}
print(name)
for i in name:
    print(i)

In [ ]:
my_set = {1,2,3,4,5,6}
print(my_set)

#adding element to the set
my_set.add(23)
print(my_set)

In [ ]:
#adding element in the set using loop
my_set = {1,2,3,4}
for i in range(1,10):
    my_set.add(i)
print("after adding all the numbers to the set :",my_set)

In [ ]:
#remove element from the set using remove 
set = {"apple","mango","orange"}
set.remove("orange")
print(set)

In [ ]:
#remove element from the set using discard
#if the item to remove does not exist then discard will not give any error but remove will create and error
set = {"mango","orange","apple"}
set.discard("mano")
print(set)

In [ ]:
#poppint out from the set
set = {1,2,3,4,5,6,7,8,9,10}
print(set)
print("\npopped element",set.pop())
print("set after updating",set)
print("\npopped element",set.pop())
print("set after updating",set)
print("\npopped element",set.pop())
print("set after updating",set)
print("\npopped element",set.pop())
print("set after updating",set)
print("\npopped element",set.pop())
print("set after updating",set)

In [ ]:
#popping out from the set
set = {1,2,3,4,5,6,7,8,9,10}
print(set)
# unordered arrangement in the set 

for i in range(len(set)):
    print("\npopped element",set.pop())
    print("set after updating",set)

In [ ]:
set = {1,2,3,4,5,6,7,8,9,10}
print(set)

set.clear();
print("\n set after using clear",set)
print(set)

In [6]:
list1 = [1,2,3,4]
list2 = [2,3,4,5]
list3 = [10,11,12]

#list converted to set
set1 = set(list2)
set2 = set(list3)

#updating the set
set1.update(set2)

#pring the updated set
print(set1)

set1.update(set1)
print(set1)

{2, 3, 4, 5, 10, 11, 12}
{2, 3, 4, 5, 10, 11, 12}

In [7]:
#updating the alphabet list
list1 = [1,2,3,4]
list2 = [2,3,4,5]
alphabet_set = {'a','b','c'}

set1 = set(list2)
set1.update(alphabet_set)

print(set1)

{2, 3, 4, 5, 'c', 'a', 'b'}

In [8]:
#add element of the dictionay to set;
number = {1,2,3,4,5}
num_Dict = {6:"six",7:"seven",8:"eight",9:"nine"}
number.update(num_Dict)
print("Updated set:",number)

Updated set: {1, 2, 3, 4, 5, 6, 7, 8, 9}

In [11]:
#union using union function
set1 = {2,3,4,5}
set2 = {4,5,6,7}
set3 = {6,7,8,9}

#union of two sets
print("set1 U set2:  ",set1.union(set2))

#union of three sets
print("set1 U set2 U set2: ",set1.union(set2,set3))

set1 U set2:   {2, 3, 4, 5, 6, 7}
set1 U set2 U set2:  {2, 3, 4, 5, 6, 7, 8, 9}

In [12]:
#union using | simbol
set1 = {2,3,4,5}
set2 = {4,5,6,7}
set3 = {6,7,8,9}

#union of two sets
print("set1 U set2:  ",set1|set2)

set1 U set2:   {2, 3, 4, 5, 6, 7}

In [13]:
#intersection 
set1 = {2,3,4,5}
set2 = {4,5,6,7}
set3 = {6,7,8,9}

#union of two sets
print("set1 U set2:  ",set1.intersection(set2))

#union of three sets
print("set1 U set2 U set2: ",set1.intersection(set2,set3))

set1 U set2:   {4, 5}

In [15]:
#intersection using & 
set1 = {2,3,4,5}
set2 = {4,5,6,7}
set3 = {6,7,8,9}

#union of two sets
print("set1 U set2:  ",set1&set2)

#union of three sets
print("set1 U set2 U set2: ",set1&set2&set3)

set1 U set2:   {4, 5}
set1 U set2 U set2:  set()

In [17]:
#difference()
A = {10,20,30,40,50}
B = {100,30,80,40,60}
print(A.difference(B))
print(B.difference(A))

#alternative
print(A-B)
print(B-A)

{50, 10, 20}
{80, 100, 60}
{50, 10, 20}
{80, 100, 60}

In [ ]:
list1 =[1,2,3]
list2 = [2,3,4]
list3 = [3,4,5]
#convert list to sets
set1 = set(list1)
set2 = set(list2)

#print the symmetr