In [2]:
import pandas as pd
emp_data = pd.read_csv("emp.csv")
print(emp_data)

    Emp_id     Name     Designation  Salary  Grade
0     E001     Liam       Professor  251000      1
1     E002     Noah  Asst_Professor  120000      2
2     E003   Oliver        Director  432000      3
3     E004   Elijah       Professor  261200      3
4     E005  William  Asst_Professor  110500      2
..     ...      ...             ...     ...    ...
126   E127   Legend  Asst_Professor  148000      3
127   E128    Jonah  Asst_Professor  144000      3
128   E129    River  Asst_Professor  124000      1
129   E130    Tyler        Director  432000      1
130   E131     Cole        Director  450000      1

[131 rows x 5 columns]